PORT=8000
DEBUG=1

#database
DB_DRIVER=mysql+mysqlconnector
DB_USERNAME=
DB_PASSWORD=
DB_HOST=
DB_PORT=
DB_DATABASE=stars
BASE_FRONTEND_URL=http://localhost:5173

# email
BREVO_API_KEY=

JWT_SECRETE_KEY=
JWT_EXPIRE_MINUTES=30

PASSWORD_HASH_ALGORITHM=HS256

DISCORD_INVITE_LINK=
BREVO_DISCORD_TEMPLATE_ID=11

#apoiase
APOIASE_API_KEY=
APOIASE_API_SECRET=
