asgiref==3.8.1
certifi==2024.2.2
click==8.1.7
fastapi==0.68.2
greenlet==3.0.3
h11==0.14.0
pydantic==1.10.14
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
setuptools==69.1.1
sib-api-v3-sdk==7.6.0
six==1.16.0
SQLAlchemy==2.0.29
starlette==0.14.2
typing_extensions==4.10.0
urllib3==2.2.1
uvicorn==0.15.0
wheel==0.43.0
